footer{
    text-align: center;
    color: whitesmoke;
    font-size: medium;
    padding-top: 10px;
    background-color: black;
   li{
       a{
           color: whitesmoke!important;
       }
   }
}