// maps

$var:(

 colorgrey:grey,
 colorblack:black,
 colorwhite:white,
 colorgrey2:rgba(89, 89, 89, 0.304),
 colorblack2:rgba(35, 32, 32, 0.603),


);

@each $bgcolor,$color in $var {

    .bg-#{$bgcolor}{
        background-color: $color;
    }
}